.input {
  width: 50%;
  height: 2rem;
  border: none;
  outline: none;
}
input {
  height: 2rem;
  margin-right: 0.5rem;
}
#searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
